table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #2675A6;
}

.delete > i {
    color: #FDAA50;
}
@media (max-width: 575.98px) { 
    .nav-list_esconde{
        visibility: hidden;
    }
 }